# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

c\+\+/task2/.idea/

c\+\+/task2/cmake-build-debug/

c\+\+/task1/.idea/

c\+\+/task1/.vs/

c\+\+/task1/Debug/

c\+\+/task1/task1/.idea/

c\+\+/task1/task1/Debug/

c\+\+/informatica/.idea/

c\+\+/informatica/cmake-build-debug/
c++/.vscode/c_cpp_properties.json
c++/.vscode/settings.json
c++/.vscode/tasks.json
c++/informatica/Документ Microsoft Word.docx
rust_task/.idea/workspace.xml
rust_task/target/debug/.fingerprint/rust_task-0c227a84694af954/invoked.timestamp
rust_task/target/debug/.fingerprint/rust_task-0c227a84694af954/test-bin-rust_task.json
rust_task/target/debug/.fingerprint/rust_task-256725db7e183649/bin-rust_task
rust_task/target/debug/.fingerprint/rust_task-256725db7e183649/bin-rust_task.json
rust_task/target/debug/.fingerprint/rust_task-256725db7e183649/invoked.timestamp
rust_task/target/debug/.fingerprint/rust_task-0c227a84694af954/test-bin-rust_task

c\+\+/block_schema/~$оксхемы.docx

c\+\+/block_schema/Блок-схемы алгоритмов рекурсивных функций.pdf

c\+\+/block_schema/блоксхемы.docx

*.exe

*.docx

*.pdf
rust_task/.idea/discord.xml
.vscode/settings.json
rust_task/.idea/vcs.xml
rust_task/.idea/inspectionProfiles/Project_Default.xml
rust_task/target/debug/.fingerprint/rust_task-e9cfbecdc83823b9/test-bin-rust_task.json
rust_task/target/debug/.fingerprint/rust_task-e9cfbecdc83823b9/test-bin-rust_task
rust_task/target/debug/.fingerprint/rust_task-e9cfbecdc83823b9/invoked.timestamp
rust_task/target/debug/.fingerprint/rust_task-622bae5c76f4d81e/invoked.timestamp
rust_task/target/debug/.fingerprint/rust_task-622bae5c76f4d81e/bin-rust_task.json
rust_task/target/debug/.fingerprint/rust_task-622bae5c76f4d81e/bin-rust_task
rust_task/target/debug/.cargo-lock
rust_task/target/.rustc_info.json

.idea/

c\+\+/.vscode/
